# Build outputs
**/bin/
**/obj/

# EF Core migrations (locales, no se pushean)
**/Migrations/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Secrets & env
.env
.env.local
*.pfx
*.p12
secrets.json
appsettings.Development.json

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
